@{
    ViewData["Title"] = "关于";
}
<h1>@ViewData["Title"]</h1>

<div class="container-sm">
    <div class="alert alert-warning" role="alert">
        本版本为开发板，未经过必要的测试。此服务拥有着目前最新的特性的同时也会有不稳定的表现，请勿在生产环境中使用此版本。
    </div>
    <h3>开放源代码地址</h3>
    <p>
        <a href="https://github.com/HanyuuLu/koroneLib/tree/v2.0" target="_blank">https://github.com/HanyuuLu/koroneLib</a>
    </p>
    <h3>使用说明</h3>
    <p>
        尚未撰写
    </p>
    <h3>未尽事宜</h3>
    <p>
        在使用过程中，有任何意见和建议或者项目说明书中未详细说明的问题，欢迎您<a href="mailto:HanyuuLu@outlook.com">发邮件询问作者</a>。
    </p>
    <h3>LICENSE</h3>
    <pre>
    <code>
            MIT License

            Copyright (c) 2020 Hanyuu Lu

            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:

            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.

            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </code>
</pre>
    <h3>LICENSE about .NET Core</h3>
    <pre>
    <code>
            The MIT License (MIT)

            Copyright (c) .NET Foundation and Contributors

            All rights reserved.

            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:

            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.

            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </code>
</pre>
</div>
