@page "/Edit/{uuid}"
@page "/Edit"
@page "/Create"

@using KoroneLibrary.Data;
@inject KoroneLibrary.Data.DataService dataService;
@inject NavigationManager NavigationManager;

@{
    init();
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/article/article-read.css" />
</head>

<div class="container">
    <form class="body-paper" method="post" asp-action="Edit">

        <div class="bread-crumb float-right m-2">
            <input type="text" class="p1 underline-box" placeholder="标签，用分号；隔开" @bind="Model.Tag" />
        </div>
        <div class="triangle"></div>
        <div class="container">
            <div class="h4 text-center">
                <input class="h4 text-center underline-box" type="text" placeholder="标题" @bind="Model.Title" />
            </div>
            <div class="p-1 text-center">
                <input class="p1 text-center underline-box" type="text" placeholder="作者" @bind="Model.Author" />
            </div>

            <div id="bodybox" class="text-body">
                <textarea class="form-control-lg underline-box" style="width:100%;height:500px" @bind="Model.Body" placeholder="正文"></textarea>
            </div>
            <input type="hidden" @bind="Model.Uuid" />
            <hr />

            <table class="node table table-striped font-weight-light">
                <thead>
                    <tr>
                        <th class="font-weight-light">注释</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Node != null)
                    {
                        @foreach(Pair<string,string> item in Model.Node)
                        {
                            <tr>
                                <td class="w-25">
                                    <input class="font-weight-light text-center underline-box w-100" type="text" placeholder="引用" @bind="item.Key"/>
                                </td>
                                <td class="w-75">
                                    <input class="font-weight-light text-center underline-box w-100" type="text" placeholder="注释" @bind="item.Value" />
                                </td>
                                <td>
                                    <input type="button" class="btn btn-light" value="x" />
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <div class="container">
            <input @onclick="AddNode" type="button" class="btn btn-primary float-right" name="addButton" value="新增一条注释" />
            <input @onclick="Save" class="btn btn-success float-right" name="save" value="保存" />
        </div>
    </form>
</div>
@code {
    [Parameter]
    public string uuid { get; set; }
    private KoroneLibrary.Data.Article Model;

    private void init()
    {
        try
        {
            if (uuid == null)
            {
                Model = new Data.Article
                {
                    Node = new List<Pair<string, string>>()
                };
                return;
            }
            else
            {
                Model = dataService.GetArticle(uuid);
            }
        }
        catch (Exception e)
        {
            Model = new Data.Article
            {
                Title = "Oops,我们遇到了一点问题",
                Body = "该文档可能已被他人删除、移动，被不规范地导入，也可能是系统故障。请尝试重新搜索并访问这个文档，如果所有文档都不可访问，请在“关于”页面查看帮助或联系系统管理员和开发者。",
                Node = new List<Pair<string, string>>()
            };
            Model.Node.Add(new Pair<string, string>("错误信息", e.Message));
            Model.Node.Add(new Pair<string, string>("错误堆栈", e.StackTrace));
        }
    }
    private void AddNode()
    {
        if (Model == null)
            Model = new Data.Article();
        if (Model.Node == null)
            Model.Node = new List<Pair<string, string>>();
        Model.Node.Add(new Pair<string, string>("",""));
    }
    private void Save()
    {
        string uuid = dataService.Save(Model);
        NavigationManager.NavigateTo($"article/{uuid}");
    }
}
